rescar-estaleiro-sys/src/main/mule/implementation/user/list-all-users.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:circuit-breaker="http://www.mulesoft.org/schema/mule/circuit-breaker" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/circuit-breaker http://www.mulesoft.org/schema/mule/circuit-breaker/current/mule-circuit-breaker.xsd">
	<flow name="List-All-Users-Flow" doc:id="e7c10745-8dab-4e95-8b4f-09a557d3c31c" >
		<flow-ref doc:name="Flow Reference Authenticator" doc:id="026089e2-bff7-4d65-bd30-145acd1ba2ee" name="post:\login:application\json:rescar-estaleiro-config"/>
		<logger level="INFO" doc:name="Logger" doc:id="3977b1cf-4fc4-4853-b0f5-23d90f01f6a4" message="#[vars.access_token]"/>
		<circuit-breaker:filter doc:name="Filter" doc:id="89a5d1ba-ee5a-4585-8ed6-6b282325876c" config-ref="Circuit_breaker_Config"/>
		<until-successful maxRetries="${api.config.retry}" doc:name="Until Successful" doc:id="d302ebaa-9d3d-40f5-a915-59dc2f25e0a7" millisBetweenRetries="${api.config.wait}">
			<try doc:name="Try" doc:id="265e1621-f087-4935-b65c-1dba1997beb5" >
				<http:request method="GET" doc:name="Request" doc:id="fedca19b-5384-4ace-9269-3b7d0129d1c7" config-ref="HTTP_Request_Rescar_configuration" path="/v1/usuarios" sendCorrelationId="ALWAYS" correlationId="correlationId">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : vars.access_token
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"Description" : attributes.queryParams.Description,
	"Name" : attributes.queryParams.Name
}]]]></http:query-params>
		</http:request>
				<remove-variable doc:name="Remove Variable" doc:id="84a5014f-2937-4f3b-9b7a-06f6f1d1a167" variableName="error_object"/>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue for Connectivity Faliures" doc:id="82fff183-5e8e-4a04-8fc0-75a81258eab2" when='#[error.errorType.identifier != "CONNECTIVITY"]'>
						<logger level="INFO" doc:name="Logger" doc:id="df0c5c0c-f754-4e94-8f17-6a4aec8a322c" message="Not retrying since not a connectivity failure with error #[error.description] with correlation id #[correlationId]"/>
						<ee:transform doc:name="Transform Message" doc:id="bf364d63-c3af-45a0-ade9-b272e14793a8" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
error]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</on-error-continue>
				</error-handler>
			</try>
		</until-successful>
		<logger level="INFO" doc:name="Logger" doc:id="abbd94f2-077d-440e-b7fa-ecde09ce17df" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="851f18dc-1ddc-4ecf-b5c0-eedc58677ee8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="eeafdf13-1999-4dc1-ac6c-75d0304a209b" type="ANY">
				<circuit-breaker:record-failure doc:name="Record failure" doc:id="ec3f05aa-9908-4b96-9fec-f19cbdf405ab" config-ref="Circuit_breaker_Config"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
